
body{
	max-width: 100%;
	width: 100vw;
	background: #f2f3f2;
	text-align: center;

  }

  img {
  	animation: heartBeat;
  	animation-duration: 2.1s;
  }



.cabeçalho{
	text-align: center;
	color: #6004a0;
	font-weight: bold;
	font-size: 45px;
	padding:  25px, px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1.2em;
	animation: backInLeft;
	animation-duration: 1.9s;
	animation-delay: 2s;
	}

.auto{
  	max-width: 100%;
  	width: 100vw;
  	padding:0, 2px, 0 0; 
  	position: relative;
  	display: inline-block;
  	text-align: center;
  }

  ul{
  	padding: 0;
  }
 
.conteudo{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	
 }	

 .conteudo1{
	 text-align: center;
	 font-size: 20px;
	 font-weight: bold;
	 max-width: 100%;
	 display: inline-block;
	 font-family: 'Roboto Condensed', sans-serif;
	}

	.futuro{
		font-size: 45px;
		color: #FF1493;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.video{
		width: 100vw;
		padding: 0;
    }

    main form{
    	width: 940px;
    	padding: 0 auto;
    	margin: 40px 0;
    	display: block;
    }
    
    .rodape li{
    	display: inline-block;
    	padding-top: 1.2em;
    }
    

   .rodape{
   	background: #D8D0D8  ;
   	font-size: 20px;
   	padding: 0 8px;
   	text-align: center;
   	width: 100vw;
 	  max-width: 100%;
 	  padding: 0px 0;
 	  position: relative;
 	  }

   
   @media screen and (max-width: 480px){
  .rodape, footer, .video{
	 width: auto;
   }
   }


 	

 